/root/*.iml
/.idea/*
/root/*/*.iml
/root/nacos/target/*
/root/gateway/target/*

/root/logback/target/*
/root/shellpoj/target/*
/distributed.iml
/root/utils/guava/target/*
/root/utils/target/*
/root/utils/guava/guava.iml

/root/utils/java8/java8.iml
/root/kafka/kafka-producer/kafka-producer.iml
/root/kafka/kafka-producer/target/
/root/concurrent/nio/nio.iml
